{
    "ansible_facts": {
        "ansible_ip_addresses": "{{ ansible_ip_addresses }}",
        "ansible_windows_domain_role": "{{ ansible_windows_domain_role }}",
        "ansible_netbios_name": "{{ ansible_netbios_name }}",
        "ansible_os_name": "{{ ansible_os_name }}",
        "ansible_machine_id": "{{ ansible_machine_id }}",
        "ansible_product_serial": "{{ ansible_product_serial }}",
        "ansible_system_vendor": "{{ ansible_system_vendor }}",
        "ansible_domain": "{{ ansible_domain }}",
        "ansible_uptime_seconds": "{{ ansible_uptime_seconds }}",
        "ansible_architecture": "{{ ansible_architecture }}",
        "ansible_win_rm_certificate_expires": "{{ ansible_win_rm_certificate_expires }}",
        "ansible_windows_domain_member": "{{ ansible_windows_domain_member }}",
        "ansible_swaptotal_mb": "{{ ansible_swaptotal_mb }}",
        "ansible_hostname": "{{ ansible_hostname }}",
        "ansible_os_family": "{{ ansible_os_family }}"
    }
}